autostart
BraveSoftware
byobu
Code - OSS
ElegooSlicer
FreeCAD
btop
darktable
dconf
discord
fontconfig
go
gtk-3.0
gtk-4.0
htop
kicad
lazyspotify
libaccounts-glib
libreoffice
matplotlib
pulse
session
spotify
systemd
torbrowser
xarchiver
xfce4
xsettingsd
yay
brave-flags.conf
gtkrc
gtkrc-2.0
mimeapps.list
pavucontrol.ini
QtProject.conf
Trolltech.conf
user-dirs.dirs
user-dirs.locale
simple-scan
sigye

