* {
    font-family: "Iosevka Mono", "DejaVu Sans Mono", monospace;
    font-size: 13px;
    font-weight: 500;
    min-height: 0;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: #1e2326;
    opacity: 0.95;
    color: #a7c080;
}

#workspaces button {
    padding: 0 8px;
    color: #a7c080;
    background-color: transparent;
}

#workspaces button.active {
    background-color: #a7c080;
    color: #1e2326;
    font-weight: bold;
}

#workspaces button:hover {
    background-color: #323c41;
    color: #a7c080;
}

#mpris {
    color: #a7c080;
    padding-right: 8px;
}

#memory,
#pulseaudio,
#temperature,
#clock,
#battery { padding: 0 8px;
    color: #a7c080;
}

#battery.critical:not(.charging) {
    color: #e67e80;
}

