/* Everforest Dark - Wofi (Translucent & Blurred) */
* {
  font-size: 12px;
}
window {
  /* Hex #1e2326 converted to RGBA (30, 35, 38) */
  background-color: rgba(30, 35, 38, 0.75);
  border-radius: 10px;
}
#scroll {
  background-color: transparent;
}
#outer-box {
  background-color: transparent;
  padding: 10px;
  border: 2px solid #a7c080; /* Accent Green */
  border-radius: 10px;
}
#main {
  background-color: transparent;
}
scrollbar,
scrollbar trough,
undershoot.top,
undershoot.bottom {
  min-width: 5px;
  min-height: 5px;
  background: none;
}
scrollbar slider {
  background-color: #a7c080; /* Accent Green */
}

#input image {
  color: #a7c080; 
  -gtk-icon-effect: none;
}
#input {
  /* Hex #323c41 converted to RGBA (50, 60, 65) */
  background-color: rgba(50, 60, 65, 0.6); 
  color: #d3c6aa; /* Tan Text */      
  caret-color: #a7c080;
  border: 1px solid #323c41; 
  padding: 8px 12px;
  margin: 10px;
  border-radius: 10px;
  outline: 1px solid #a7c080;
}
#input:focus {
  border-color: #a7c080; 
}
#input placeholder {
  color: #d3c6aa; 
}
#entry {
  background-color: transparent;
  color: #d3c6aa;
}
#entry #entry:selected {
  background-color: rgba(50, 60, 65, 0.8);
  color: #a7c080;
}
#entry:selected {
  background-color: rgba(50, 60, 65, 0.8);
  color: #a7c080;
}
#entry:hover {
  background-color: rgba(50, 60, 65, 0.8); 
}
#text {
  color: #d3c6aa; 
}
#text:selected {
  color: #a7c080; 
}
